@charset "UTF-8";

body {

    margin-left: 50px;
    background-image: url('imagens/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    color: whitesmoke;
   margin-left: 30px;
}
.butom-back {
 background-position-x: 400px;
}




